$mat-blue: (50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #2196f3,
  600: #1e88e5,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
);

mat-form-field {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.xs-hide {
  @media (max-width: 600px) {
    & {
      display: none;
    }
  }
}

header {
  width: 100%;
  height: 80px;
  background: map_get($mat-blue, 600);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  color: #fff;
  font-size: 25px;

  .izquierda,
  .derecha {
    display: inline-flex;

    height: 100%;
    align-items: center;
    padding: 20px;
  }

  .izquierda {
    width: 80%;

    i {
      font-size: 18px;
    }
  }

  .derecha {
    width: 20%;
    justify-content: flex-end;

    i {
      cursor: pointer;
    }
  }

  h3 {
    margin: 0px;
  }

}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;

  &.off {
    display: none;
  }

  .fondo {
    position: fixed;
    background: rgba(0, 0, 0, 0.32);
    z-index: 3;
    width: 100%;
    height: 100%;
  }

  .contenido {
    position: fixed;
    background: #fff;
    width: 300px;
    z-index: 5;
    margin: 0 auto;
    padding: 30px 20px;
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 -1px 2px 0 rgba(0, 0, 0, 0.12);

    input {
      color: #212121;
      font-weight: 500;
    }

    i.fa-close {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 18px;
      z-index: 7;
      cursor: pointer;
    }
  }
}


.contenedor {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 600px) {
    & {
      padding: 20px 10px;
    }
  }

  .tabs {
    &>div {
      color: #727272;
      display: inline-block;
      min-width: 280px;
      font-size: 20px;
      font-weight: 500;
      border-bottom: 1.5px solid #727272;
      cursor: pointer;
      padding-left: 20px;
      padding-bottom: 10px;

      @media (max-width: 600px) {
        & {
          font-size: 15px;
          min-width: 150px;
          padding-left: 0px;
          padding-bottom: 5px;
        }
      }

      &.on {
        color: map_get($mat-blue, 600);
        border-bottom: 1.5px solid map_get($mat-blue, 600);
        font-weight: 700;
      }
    }
  }

  .tab {
    display: none;
    padding-top: 30px;

    &.on {
      display: block;
    }
  }

  h1 {
    color: #212121;
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0px;
    display: inline-block;
    margin-right: 20px;

    span {
      background: map_get($mat-blue, 600);
      color: #fff;
      padding: 5px;
      border-radius: 50%;
      margin-left: 5px;
    }
  }

  table {
    margin-top: 20px;
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid map_get($mat-blue, 800);
    text-align: center;

    thead {
      background: map_get($mat-blue, 600);
      color: #fff;

      th {
        padding: 10px;

        @media (max-width: 600px) {}
      }
    }

    tbody {
      tr {
        &.impar {
          background: map_get($mat-blue, 50);
        }

        td {
          padding: 10px;

          &:nth-child(2),
          &:nth-child(3) {
            text-align: left;
          }

          span {
            visibility: hidden;
          }

          i {
            color: map_get($mat-blue, 600);
            cursor: pointer;
          }

          @media (max-width: 600px) {


            span {
              visibility: visible;
            }
          }
        }
      }
    }
  }

}
