<header>
  <div class="container">
    <div class=izquierda>
      <h3>Intercorp <i class="fa fa-copyright"></i> Test</h3>
    </div>
    <div class="derecha">
      <i class="fa fa-plus-circle" (click)="showModal()"></i>
    </div>
  </div>
</header>


<div class="modal off">
  <div class="fondo" (click)="closeModal()"></div>
  <div class="contenido">
    <i class="fa fa-close" (click)="closeModal()"></i>
    <mat-form-field>
      <input matInput placeholder="Nombre" [(ngModel)]="persona.nombre">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Apellido" [(ngModel)]="persona.apellido">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Edad" [(ngModel)]="persona.edad" type="number">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" [(ngModel)]="persona.fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="addPersona()">Agregar <i class="fa fa-check"></i></button>
  </div>
</div>

<div class="contenedor">


  <div class="tabs">
    <div [ngClass]="tab1?'on':''" (click)="selectTab1()">
      Lista de clientes
    </div>
    <div [ngClass]="tab2?'on':''" (click)="selectTab2()">
      Proyeccion y analisis
    </div>
  </div>

  <div [ngClass]="tab1? 'tab on':'tab'">

    <h1> Edad Media: <span>{{promedio | number: '1.0-0'}}</span> </h1>
    <h1> Desviacion estandar: <span>{{desviacion | number: '1.0-0'}}</span></h1>

    <table>
      <thead>
        <th class="xs-hide">No.</th>
        <th>Nombre</th>
        <th class="xs-hide">Apellido</th>
        <th>Edad</th>
        <th class="xs-hide">Fecha Nacimiento</th>
        <th><i class="fa fa-trash"></i></th>
      </thead>
      <tbody>
        <tr *ngFor="let persona of  personas; let i = index" [ngClass]="i%2===0?'':'impar'">
          <td class="xs-hide">{{i+1}}</td>
          <td>{{persona.data().nombre}} <span>{{persona.data().apellido}}</span> </td>
          <td class="xs-hide">{{persona.data().apellido}}</td>
          <td>{{persona.data().edad}}</td>
          <td class="xs-hide">{{persona.data().fecha}}</td>
          <td><i class="fa fa-trash" (click)="delPersona(persona.id)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div [ngClass]="tab2? 'tab on':'tab'">
    <table>
      <thead>
        <th class="xs-hide">No.</th>
        <th>Nombre</th>
        <th class="xs-hide">Apellido</th>
        <th>Edad</th>
        <th class="xs-hide">Fecha Nacimiento</th>
        <th><i class="fa fa-trash"></i></th>
      </thead>
      <tbody>
        <tr *ngFor="let persona of  personas; let i = index" [ngClass]="i%2===0?'':'impar'">
          <td class="xs-hide">{{i+1}}</td>
          <td>{{persona.data().nombre}} <span>{{persona.data().apellido}}</span> </td>
          <td class="xs-hide">{{persona.data().apellido}}</td>
          <td>{{persona.data().edad}}</td>
          <td class="xs-hide">{{persona.data().fecha}}</td>
          <td><i class="fa fa-trash" (click)="delPersona(persona.id)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
